@model ecommerce.Models.AdminViewModel
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Products.First().ProductId" />

    <div class="form-group">
        <label asp-for="Products.First().Name"></label>
        <input asp-for="Products.First().Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Products.First().Description"></label>
        <input asp-for="Products.First().Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Products.First().CategoryId">Category</label>
        <select asp-for="Products.First().CategoryId" asp-items="@Model.Categories" class="form-control"></select>
    </div>


    <div class="form-group">
        <label asp-for="Products.First().Price"></label>
        <input asp-for="Products.First().Price" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="NewProduct.ImageFile">Product Image</label>
        <input type="file" asp-for="NewProduct.ImageFile" class="form-control-file" />
    </div>


    <div class="form-group">
        <label asp-for="Products.First().StockQuantity"></label>
        <input asp-for="Products.First().StockQuantity" class="form-control" />
    </div>

    <!-- Add other fields for editing product properties -->

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
