@{
    ViewData["Title"] = "Order Confirmation";
}

<style>
    /* Style for the container div */
    .confirmation-container {
        background-color: #4CAF50; /* Green background color */
        color: white; /* Text color */
        padding: 20px;
        padding-top: 20px; /* Added padding to the top */
        border-radius: 10px;
    }

    /* Style for the title */
    .confirmation-title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    /* Style for the confirmation message */
    .confirmation-message {
        font-size: 20px;
    }
</style>

<br />
<br />

<div class="confirmation-container text-center">
    <h2 class="confirmation-title">Order Confirmation</h2>
    <p class="confirmation-message">Your order has been placed successfully. Thank you for shopping with us!</p>
</div>
